<!DOCTYPE html>
<html>
<head>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="bootstrap/css/tuto.css" rel="stylesheet">
<!-- Un peu de style pour la visualisation -->
<style type="text/css">
.col-md-8, .col-sm-10 { line-height: 200px; }
.col-md-12 { line-height: 80px; }

</style>
<title> Blog de Cinéma </title>
</head>
<body>
<body style="background:#efe6df">
<div class="container">

<header class="row">
<div class="col-md-15">
<!-- <h1><center> Blog de cinéma </center> </h1> -->
<!-- <p> <center> Sur ce blog vous pouvez trouvez toutes les actualités concernant le cinéma.</center> </p> -->

<nav class="navbar navbar-inverse">
<div class="container-fluid">
<ul class="nav navbar-nav">
<li class="active"> <a href="#">Accueil</a> </li>
<li class="active"> <a href="#">Ajouter un article</a> </li>
</ul>
<form class="navbar-form navbar-right inline-form">
<div class="form-group">
<input type="search" class="input-sm form-control" placeholder="Recherche">
<button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>

</div>
</form>
</div>
</nav>
<div class="banniere">

<img src={{ asset('bundles/ArticleBundle/images/fond.png')}} width="1150" height="150" alt="test">
</div>
</div>

</header>

<div class="row">

<div class="col-sm-5">
<div class="row">

</div>
</div>

</div>
<div class="panel panel-default">
<div class="panel-heading">Article 1 </div>
<div class="panel-body">Écrire l'article </div>
<br> <a href="http://127.0.0.1:8000/afficher" target="_blank">     Lire la suite ... </a> </br> </div>
<br> </br>
<div class="panel panel-default">
<div class="panel-heading">Article 2 </div>
<div class="panel-body">Écrire l'article </div>
<br> <a href="http://127.0.0.1:8000/afficher" target="_blank">     Lire la suite ... </a> </br> </div>
<br> </br>
<div class="panel panel-default">
<div class="panel-heading">Article 3 </div>
<div class="panel-body">Écrire l'article </div>
<br> <a href="http://127.0.0.1:8000/afficher" target="_blank">     Lire la suite ... </a> </br> </div>


<section class="col-sm-10 col-md-8">
<div class="panel panel-default">
<div class="panel-heading">Article 1 </div>
<div class="panel-body">Écrire l'article </div>
<br> <a href="http://127.0.0.1:8000/afficher" target="_blank">     Lire la suite ... </a> </br> </div>
<br> </br>
<div class="panel panel-default">
<div class="panel-heading">Article 2 </div>
<div class="panel-body">Écrire l'article </div>
<br> <a href="http://127.0.0.1:8000/afficher" target="_blank">     Lire la suite ... </a> </br> </div>
<br> </br>
<div class="panel panel-default">
<div class="panel-heading">Article 3 </div>
<div class="panel-body">Écrire l'article </div>
<br> <a href="http://127.0.0.1:8000/afficher" target="_blank">     Lire la suite ... </a> </br> </div>


</section>

<div class="clearfix visible-sm-block"></div>

<div class="col-md-2">
<div class="row">
<aside class="col-md-12">
<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Ajouter un article</button>

</aside>
<aside class="col-md-7">
<h5>Box Office</h5>
<br>1. ffffff</br>
<br>2. ffffff</br>
<br>3. ffffff</br>
</aside>
</div>
</div>
</div>


<footer class="row">
<div class="col-md-12">
<div class="container">

<br> </br>
Copyright © 2015 - Kevin et Nivaashini </div>
</div>
</footer>


</body>
</html>