<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8" />
        <title> Blog de Cinéma </title>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">




    </head>
    
    <body>
 <h1> Bienvenue sur notre blog concernant les actualités du cinéma </h1>

    </body>



</html>