{% extends "::base.html.twig" %}

{% block body %}

<div class="panel panel-default">
<div class="panel-heading">  {{article.title}} </div>
<div class="panel-body"> {{article.author}} </div>
<br> </br>
<button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ban-circle"></span> <a href="{{ path('articlesupprimer', {'id':article.id}) }}""</a> Supprimer l'article </button>
<button type="submit" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-arrow-down"></span> <a href="http://127.0.0.1:8000/modifier"</a>Modifier l'article </button>
</div>



{% endblock %}