{% extends "::base.html.twig" %}

{% block body %}


{% for i in ListArticles %}
<div class="panel panel-default">
<div class="panel-heading"> {{i.title}} </div>
<div class="panel-heading"> De {{i.author}} </div>
<!-- <div class="panel-body"> {{i.contents}} </div> -->
<br> <a href="{{ path('articleafficher2', {'id':i.id}) }}">     Lire le contenu ... </a> </br> </div>
{% else %}
Pas d'articles
{% endfor  %}

{% endblock %}
