{% extends "::base.html.twig" %}

{% block body %}

<div class="panel panel-default">
<div class="panel-heading"> Box - Office de la semaine </div>
<div class="panel-body"> Les films du moment :  </div>
</div>
<br> </br>




{% endblock %}
