<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur notre première page avec Kevin et Nivaa !</title>
    </head>
    <body>
        <h1>Premier cours de Programmation Web!</h1>
        
        <p>
            Pour aujourd'hui, nous avons appris à utiliser Symfony. Créer une route et la page. 
        </p>
    </body>
</html>

