{% extends "::base.html.twig" %}

{% block body %}



      <form action="{{path('articleajouter')}}" method="post">
            <div>
                <label for="nom"> Titre de l'article :</label>
                <input type="text" name="nom" />
            </div>
            <br> </br>
            <div>
                <label for="courriel"> Auteur :</label>
                <input type="email" name="courriel" />
            </div>
            <br> </br>
            <div>
                <label for="message"> Contenu de l'article :</label>
                <textarea name="message"></textarea>
            </div>


        <input type="submit"></input>
            </div>
        </form>


{% endblock %}