{% extends "::base.html.twig" %}

{% block body %}


<div class="panel panel-default">
<div class="panel-heading">Modifié </div>
<div class="panel-body"> L'article a bien été modifié' </div>
<br> </br>




{% endblock %}