{% extends "::base.html.twig" %}

{% block body %}

<div class="panel panel-default">
<div class="panel-heading"> À propos de nous </div>
<div class="panel-body"> 

<b>Kevin Kouame</b>, Actuellement en 4 année en école d'ingénieur à l'ESIEA, je suis accro au film d'action. Je n'en rate pas un : que ce soit Equalizer, en passant par 007 ou même Mission Impossible.
S'il y a des armes, l'action et un bain de sang le film est fait pour moi. Avec l'hiver qui s'installe, quoi de mieux que de regarder un bon film d'action dans une salle chauffé accompagné d'une charmante demoiselle ?
<p align="center"> <img src={{ asset('bundles/ArticleBundle/images/12208657_10206390343532351_3940086044899857659.jpg')}}> </p> 

<br> </br>

<b>Nivaashini SASIBASKARAN</b>, Je suis également à l'ESIEA en 4 année mais je ne partage pas la même passion que Kevin pour les armes. De par mes origines sri lankaise, je ne manque aucun film sri lankais ou indien qui sort chaque semaine. Je les connais par coeur, du génériques du début au générique de fin, en passant par les scènes de danses.
Cette passion commune nous a réuni pour faire ce blog qui, je l'espère, vous plaira !
<p align="center"> <img src={{ asset('bundles/ArticleBundle/images/DSC_0066.jpg')}}> </p>


</div>
</div>

<br> </br>




{% endblock %}
