{% extends "::base.html.twig" %}

{% block body %}


<div class="panel panel-default">
<div class="panel-heading">Supprimer</div>
<div class="panel-body"> L'article a bien été supprimé !  </div>
<br> </br>

</div>

{% endblock %}